.banner-2 {
	width: 1452px;
	height: 770px;
	background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.1) 20%), url(../../images/plates.jpg);
	background-size: cover;
	background-position: center;

}
