.food-container {
  display: inline-block;
  position: relative;
  width: 100%;
}

.food-container .text {;
    z-index: 1;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
}
